<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<div th:replace="~{admin/fragements/fragment-head::head}"></div>
<body>

<!-- ======= Header ======= -->
<div th:replace="~{admin/fragements/fragment-header::header}"></div>

<!-- ======= Sidebar ======= -->
<div th:replace="~{admin/fragements/fragment-sidebar::sidebar}"></div>

<main th:replace="${content}">
<p>Contents</p>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div th:replace="~{admin/fragements/fragment-footer::footer}"></div>

<div th:replace="~{admin/fragements/fragment-foot::foot}"></div>

<div th:replace="~{admin/fragements/fragment-script-util :: util}"></div>




</body>

</html>